source ~/.zplug/init.zsh

# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt appendhistory autocd extendedglob
unsetopt beep
bindkey -v
# End of lines configured by zsh-newuser-install

zplug "b4b4r07/enhancd", use:init.sh

zplug "modules/git", from:prezto

zplug "modules/utility", from:prezto
zplug "modules/completion", from:prezto, on:"modules/utility"

zplug "denysdovhan/spaceship-prompt", use:spaceship.zsh, as:theme, defer:2

# Install plugins if there are plugins that have not been installed
if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi

# Then, source plugins and add commands to $PATH
zplug load

eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"